<div data-role="header" data-theme="b">
  <h1>Address Book</h1>
</div>

<div data-role="content">
  <% chunked_contacts = chunk_contact_list(@contact_list) %>
  <% chunked_contacts.each do |letter, contact_list| %>
    <div data-role="collapsible" data-state="collapsed" data-theme="c">
      <h3><%= letter %></h3>
      <ul data-role="listview" data-inset="true" data-theme="d">
        <% contact_list.each do |contact| %>
          <li><%= link_to contact.full_name_last_first, :controller => :contact, :action => :show_contact, :id => contact %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div data-role="footer" data-theme="b">
  <p style="padding-left: 10px"><%= link_to 'Switch to desktop view', {:action => :use_desktop_view}, {:rel => 'external'} %></p>
</div>
