<ul id="contactList">
  <% @contact_list.each do |contact| %>
    <li><%= link_to contact.full_name_last_first, :controller => :contact, :action => :show_contact, :id => contact %></li>
  <% end %>
</ul>

<p><%= link_to 'Switch to desktop view', :action => :use_desktop_view %></p>
