html, body {
  width: auto;
  height: auto;
  -webkit-text-size-adjust: none;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#contactList li {
  margin: 5px;
  padding: 5px;
  background: #e1ebfb;
  font-size: 1.4em;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 1px solid black;
}

#contactList li a {
  color: #000000;
  display: block;
}

#content {
  padding: 0px;
}

.section {
  width: 90%;
  margin: 0px;
  border: 1px solid black;
  background: #e1ebfb;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.section td {
  padding-top: 5px;
}

.section p, .section td, .section a, #navLinks p {
  font-size: 18px;
}

#address, #mapLinks {
  text-align: center;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}