<% if flash.now[:notice] -%>
  <div class="errorExplanation" id="errorExplanation"><h2>1 error prohibited this password file from being saved</h2><p><%= flash.now[:notice] %></p></div>
<% end -%>

<% form_remote_tag :url => { :action => 'password_file' }, :complete => "hideSpinner();",
     :loading => "showSpinner();" do -%>

  <h3>Password File</h3>
  <div class="section">
    <label>Password file location:</label>
    <%= text_field_tag 'password_file', password_file, :size => 40 %>
  </div>

  <p><%= submit_tag "Save" %></p>  
<% end -%>

<p>
  <%= link_to_remote("Cancel", :url => { :action => "password_file" }, :method => 'get',
        :complete => "hideSpinner();", :loading => "showSpinner();") %>
</p>
