<% if @contact_list.blank? %>
  $('#contactSearchResults').html('<p><em>No results found</em></p>');
<% else %>
  $('#contactSearchResults').html("<%= j render(:partial => 'main/search_list', :locals => {:object_list => @contact_list}) %>");
<% end %>
