<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Address Book</title>

  <%= stylesheet_link_tag 'stylesheet', 'jquery.fancybox-1.3.1', 'http://ajax.googleapis.com/ajax/libs/dojo/1.4/dijit/themes/soria/soria.css' %>
</head>

<body class="soria">
  <%= yield :layout %>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojo/dojo.xd.js" djConfig="parseOnLoad: true"></script>

<%= javascript_include_tag :defaults, 'jquery.fancybox-1.3.1.pack' %>

</html>