<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Address Book</title>

  <%= stylesheet_link_tag 'mobile' %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />

  <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>

  <script>
    $(document).bind("mobileinit", function() {
      $.mobile.ajaxEnabled = true;
      $.mobile.page.prototype.options.addBackBtn = true;
    });
  </script>

  <script src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>
</head>

<body>
<div data-role="page">
  <%= yield %>
</div>
</body>
</html>

