<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Address Book</title>

  <%= stylesheet_link_tag 'stylesheet', 'soria' %>
</head>

<body class="soria">
  <%= yield :layout %>
</body>

<%= javascript_include_tag :defaults %>
<%= yield :page_javascript %>

<script type="text/javascript" src="/javascripts/dojo.xd.js" djConfig="parseOnLoad: true"></script>
<script type="text/javascript">
  dojo.require("dijit.layout.AccordionContainer");
  dojo.require("dijit.layout.ContentPane");
  dojo.require("dijit.layout.BorderContainer");
</script>

</html>